/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "63770e051db62997fa0b9d1eb4b87bff";

  src: url("fonts/Sans-500-ba125dda30cce272f3178b93e6e75be7c52bd2909507bf5b6c17e6c95c7b3951.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
