/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "5df3aafdbb3e68cb6a24ed83491428cd";

  src: url("fonts/Sans-700-775e232c1b283f43595ead99fff89d24fd1d64c0e796cc3b22755af3343c1557.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
