/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "2f8c5a65e49a1c70a560de6b32c0972d";

  src: url("/font/anomalie-sans//Sans-400-7f27c6d6ba365e65d40e1fe911e31f58b7cde4dde87bf5941684b2ce2459a462.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
